/* COMMON STYLES */

body {
    font-family: "Arial", sans-serif;
    background-color: gray;
}

h1 {
    color: #fff;
    padding: 0 0 2rem 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.active {
    color: #fbd341;
}

.line {
    border-top: 2px solid #38475f;
    margin: 1.5rem 0;
}

/* TEXT STYLES */

.lg-title {
    font-size: 2.1rem;
    line-height: 2.3rem;
}

.md-title {
    font-size: 1.6rem;
    line-height: 1.5rem;
}

.sm-title {
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.lg-subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
}

.md-subtitle {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.sm-subtitle {
    font-size: 0.4rem;
    line-height: 1.5rem;
}

.bold {
    font-weight: 900;
}

.semi-bold {
    font-weight: 600;
}

.offer-button {
    background-color: #fbd341;
    padding: 1rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    transition: 0.5s ease-in-out;
}

.offer-button:hover {
    background-color: #b5900c;
}

/* TEXT STYLES */

/* COMMON STYLES */


/* FIRST-PAGE */

header {
    margin: 0 0 3rem 0;
}

.main-title-container {
    background-color: #01344aa2;
    padding: 2rem 0;
}

.first-page {
    background-image: url("images/First-Page/background.jpg");
    background-size: cover;
    background-position: center;
    padding: 0 0 5rem 0;
}

.navigation {
    background-color: #fbd341;
    text-align: center;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* FIRST-PAGE */

/* TOURS */

.tours {
    padding: 2rem 0;
}

.tours-header {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.tours-title {
    transition: 0.2s ease-in-out;
}

.tours-title:hover {
    color: #fbd341;
    cursor: pointer;
}

/* TOURS */


/* ADVANTAGES */

.advantages {
    background-color: #f8f7f7;
    padding: 2rem 0 4rem 0;
}

.advantages-header {
    padding: 0 0 3rem 0;
}


/* ADVANTAGES */

/* OFFER PAGE */

.offer-tour {
    padding: 2rem 0;
    background-image: url("images/Offer-page/background.png");
    background-size: cover;
    background-position: center;
}

.offer-tour-header {
    padding: 0 0 2rem 0;
    color: #fff;
}

.offer-form {
    padding: 2rem 1rem;
    background-color: #0000007c;
}

.offer-form input::placeholder{
    color: #fff;
}

.offer-form input,
.offer-form select {
    border-bottom: 2px solid #676e78;
    color: #fff;
    margin: 0 0 2rem 0;
    width: 100%;
}

.offer-form input {
    padding: 0 0 0 0.3rem;
}

.offer-form option {
    color: #000;
}

.offer-form .offer-button {
    width: 100%;
}

/* OFFER PAGE */


/* FOOTER */

footer {
    background-color: #22334d;
    padding: 2rem 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.creator-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer-text:hover {
    cursor: pointer;
}

.footer-text {
    color: #fff;
    padding: 0 0 0.5rem 0;
}

.footer-title {
    padding: 0 0 2rem 0;
}

.socials-container {
    display: flex;
    gap: 1.5rem;
}

.social-icon:hover {
    cursor: pointer;
}

/* FOOTER */